<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationId</key>
	<string>com.sylinko.everywhere</string>
	<key>CFBundleIconFile</key>
	<string>Everywhere.icns</string>
	<key>CFBundleName</key>
	<string>Everywhere</string>
	<key>CFBundleDisplayName</key>
	<string>Everywhere</string>
	<key>CFBundleExecutable</key>
	<string>Everywhere</string>
	<key>CFBundleIdentifier</key>
	<string>com.sylinko.everywhere</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
    <key>LSUIElement</key>
    <true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Everywhere needs to capture the screen to analyze visual elements.</string>
	<key>NSAccessibilityUsageDescription</key>
	<string>Everywhere needs accessibility permissions to interact with other applications.</string>
	<key>CFBundleTypeRole</key>
	<string>Editor</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.sylinko.everywhere</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sylinko-everywhere</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
