<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="sylinko" value="https://nuget.sylinko.com/v3/index.json" />
    <add key="PortaPtyLocal" value="./3rd/Porta.Pty/nuget" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget">
      <package pattern="*" />
    </packageSource>
    <packageSource key="sylinko">
      <package pattern="Microsoft.ML.Tokenizers" />
      <package pattern="Microsoft.ML.Tokenizers.*" />
    </packageSource>
    <packageSource key="PortaPtyLocal">
      <package pattern="Porta.Pty.Native" />
    </packageSource>
  </packageSourceMapping>
</configuration>
